@import "/src/styles/global.module";

.channel_wrapper {
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: column ;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  @include slack-font-secondary(16px);
  min-height: 50px;
  overflow: auto;
}

.new_channel {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid $slack-gray;
  width: 85%;
}

.new_channel_edit {
  margin: 22px;
}

.new_channel:hover {
  color: $slack-info;
}

.new_channel {
  color: $slack-success;
  text-align: right;
}
