$slack-primary: #4545A5;
$slack-gray: #EFEFEF;
$slack-secondary: #6C757D;
$slack-success: #28A745;
$slack-info: #17A2B8;
$slack-warning: #FFC107;
$slack-danger: #DC3545;
$slack-light: #FBFBFB;
$slack-dark: #343A40;
$slack-font: Roboto;


