@import "./src/styles/global.module";

.header {
  grid-area: header;
  background-color: $slack-primary;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 50px;

  @media screen and (min-width: 450px){
    border-radius: 16px 0 0 0;
      }
}


.button {
  color: $slack-light;
  display: flex;
  justify-content: space-evenly;
  span {
    padding-left: 7px;
  }

  @media screen and (min-width: 451px) {
    width: 130px;
  }

  @media screen and (max-width: 450px) {
    width: 130px;
    height: 30px;
    padding: 0 10px 0 10px;
  }
}

.button:hover {
  color: $slack-secondary;
}

.logo {
  width: 50px;
  display: flex;
  justify-content: space-evenly;
}

.messages {
  height: 85px;
}

.contacts {
  height: 99px;
}
