@import "./src/styles/global.module";

.input_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.image {
  padding-right: 30px;
  position: relative;
}

.label {
  @include slack-font-secondary(12.8px);
  padding-left: 25px;
  margin-bottom: 5px;
}

.input {
  @include slack-font-secondary(12.8px);
  margin: 0 auto 0 auto;
  border: none;
  outline:none;
}

.input_underline {
  border: $slack-gray 0.5px solid;
  width: auto;
  margin: 10px auto 0 auto;
  padding: 0 10px 0 10px;
}

.underline {
  align-self: center;
  margin-top: 5px;
  border-bottom: 1.5px solid $slack-gray;
  height: 1.5px;
  width: 95%;
}
