@import "src/styles/global.module";

.chat_wrapper {
  display: grid;
  grid-template-areas: "chat" "send";
  grid-template-rows: 10fr 1fr;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  height: calc(90vh - 20px);
}

.chat {
  margin: 20px 20px 0 20px;
  grid-area: chat;
  overflow: auto;
}

.send {
  margin-bottom: 10px;
  grid-area: send;
  height: 120px;
}

.chat_message_text {
  margin: 10px 20px 10px 20px;

}

.chat_message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $slack-primary;
  color: $slack-gray;
  font-family: $slack-font;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 20px 5px;
  width: 70%;
}

.chat_message_name {

  margin: 5px 20px 5px 20px;
  font-size: 14px;
  font-weight: lighter;
}
