@import "src/styles/global.module";

.chat_wrapper {
  display: grid;
  height: 100%;
  grid-template-areas: "chat" "send";
  grid-template-rows: 5fr 1fr;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

.chat {
  grid-area: chat;
  overflow-x: scroll;
}

.send {
  grid-area: send;
}


.chat_message {
  left: 30%;
  background-color: $slack-primary;
  color: $slack-light;
  font-family: $slack-font;
  font-size: 14px;
  border-radius: 5px;
  margin: 20px;
  padding: 30px;
  width: 70%;
}

.chat_message_name {
margin-bottom: 10px;
}
