@import "./src/styles/global.module";


.profile {
  position: relative;
  grid-area: nav;
  display: flex;
  flex-direction: column;

}

.search_underline {
  border: $slack-gray 0.5px solid;
}

.avatar {
  height: 90px;
  padding-top: 20px;
}

.name {
  font: $slack-font;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

.status {
  @include slack-font-secondary(16px);
  text-align: center;
  margin: 16px 0 70px;

}
