@import "src/styles/global.module";

.send_wrapper {
  margin: 0 5px 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  @media screen and (max-width: 450px) {
    background-color: white;
    margin: 0;
  }
}

.text {
  font-size: 14px;
  font-family: $slack-font;
  color: $slack-secondary;
  margin: 20px 0 20px 20px;
  height: 80px;
  width: 80%;
  border: none;
  outline: none;
  resize:none;

  @media screen and (max-width: 450px) {
    margin: 0;
    height: 30px;
    width: 60%;
  }
}

.button {
  margin: 25px;
  width: 26px;
  @media screen and (max-width: 450px) {
    height: 10px;
    width: 10px;
    margin-bottom: 60px;
  }
}
